html {
  font-family: "Open Sans", sans-serif;
}

.tables {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.tables h2 {
  margin-left: 30px;
  margin-top: -50px;
}

table,
th,
td {
  border: 1px solid black;
  padding: 3px;
  /* background-color: #faedcd; */
  margin-left: 30px;
}
.header-title {
  background-color: #606c38;
}

.sum {
  font-weight: bold;
  background-color: red;
}

body {
  background-color: #ccd5ae;
}

h1 {
  margin-left: 170px;
}

.discount {
  font-weight: bold;
}

button {
  background-color: #faedcd;
}
