html {
  font-family: "Open Sans", sans-serif;
}

.statistics {
  width: 50%;
  margin: auto;
  margin-bottom: 40px;
  text-align: center;
  padding: 15px;
  background-color: #e9edc9;
  border-radius: 5px;
  box-shadow: 0 4px 2px -1px gray;
}

.statistics-bold {
  font-weight: bold;
}

.tables {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.tables h2 {
  margin-left: 30px;
  margin-top: -50px;
}

table,
th,
td {
  border: 1px solid black;
  padding: 3px;
  /* background-color: #faedcd; */
  margin-left: 30px;
}
.header-title {
  background-color: #606c38;
}

.sum {
  font-weight: bold;
  background-color: red;
}

body {
  background-color: #ccd5ae;
}

h1 {
  margin-left: 170px;
}

.discount {
  font-weight: bold;
}

button {
  background-color: #faedcd;
}
